body {
    background-color: rgb(38, 68, 49)
}

#cris-perfil {
   
    
}

#cris-perfil{
    max-width: 300px;
    display: flexbox;
    margin:auto;
    border-radius: 50%;
    padding: 0;
    border: 6px solid;
}

.titulo {
    width: 10.07em;
    margin: 10px auto;
    
}

img {
    min-width: 300px;
    max-width: 90%;
    padding: 0;
    margin: 0;
    border: 3px solid;
    display: flex;
    margin:auto;
}

.centralizar {
    min-width: 300px;
    max-width: 600px;
    display: flexbox;
    margin:auto;
}