#img_fundo_header{
    width: 100%;
    margin-top: 0;
    display: flex;
}

#img_perfil {
    display: flex;
    border-radius: 50% 0;
    border: 5px solid black;
    width: 7%;
    position: fixed;
    margin-top: 10px;
    margin-left: 45%;
    background-color: black;
}

body {
    background-color: hsl(168, 37%, 82%);
}

#formatura img {
    width: 100%;
    clear: both;
}

#black_belt img {
    width: 100%;
    clear: both;
}